<html>
    <head>
        <title>OpenBroadcast | Account</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/openbroadcast.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/account.js') }}"></script>
    </head>
    <nav>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </nav>
    <body onload="init()">
        <div class="centerBox">
            <div class="settings">
                <h3><span class="markdown_Code">{{ user['email'] }}</span></h3>
                <h5>OpenBroadcast User Since: <span class="markdown_Code">{{ userDetails['date_registered'] | toDate }}</span></h5>
                
                <div class="anchors">
                    <a href="/authentication/logout">Logout</a><a href="/">Return to Home</a> 
                </div>   
            </div>    
        </div>
    </body>
    <footer>
        {% include 'footer.html' %}
        {% block footerContent %}
        {% endblock %}
    </footer>
</html>