<html>
    <head>
        <title>OpenBroadcast | Browse</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/openbroadcast.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='js/browse.js') }}"></script>

        <link rel="preload" href="https://openbroadcast.b-cdn.net/feeds/MostRecent.xml" as="fetch" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <nav>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </nav>
    <body onload="global_init()">
        <div class="centerBox" id="centerBox">
            <h4>
                Under Construction!
            </h4>
        </div>
    </body>
    <elementStore>
        <div style="display:none;" class="channelRow" id="channelRowTemplate">
        </div>
        <div style="display:none;" class="channelItem" id="channelItemTemplate">
            <h3 title="%irc:title%" name="irc:title">%irc:title%</h3>
            <img name="irc:poster" src="%irc:poster%">
            <div class="metadata">
                <span name="irc:releasedate" title="%unparsed_releasedate%">%irc:releasedate%</span>
                <span name="videoId" class="videoId" title="Video ID: %video_id%">%video_id%</span>
                <span name="irc:length">%irc:length%</span>
            </div>
        </div>
    </elementStore>
    <footer>
        {% include 'footer.html' %}
        {% block footerContent %}
        {% endblock %}
      </footer>
</html>