<html>
    <head>
        <title>OpenBroadcast | Error</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/openbroadcast.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <script type="text/javascript">
            function Load() {
                document.getElementById('errorMessage_Display').innerHTML = document.getElementById('errorMessage').innerText;
            }
        </script>
    </head>
    <nav>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </nav>
    <body onload="Load();global_init();">
        <data style="display:none" id="errorMessage">{{ error['message'] }}</data>
        <div class="centerBox">
            <h2>{{ error['name'] }}</h2>
            <p id="errorMessage_Display"></p>
            <a href="#" onclick="history.back()">Go Back</a>
            <a href="/reports">Report a Problem</a>
        </div>
    </body>
    <footer>
        {% include 'footer.html' %}
        {% block footerContent %}
        {% endblock %}
      </footer>
</html>