<html>
    <head>
        <title>Open Broadcast | Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/openbroadcast.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <nav>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </nav>
    <body>
        <div class="centerBox">
            <div class="section">
                <div class="content">
                    <div class="split">
                        <h2>Common Destinations</h2>
                        <a href="/videos/upload" class="route">
                            <h3><i class="material-icons">video_library</i>Upload</h3>
                            <p>Upload a video to the Roku channel.</p>
                        </a>
                        <br>
                        <a href="/about" class="route">
                            <h3><i class="material-icons">person</i>About</h3>
                            <p>Learn more about the project and the people behind it.</p>
                        </a>
                        <br>
                        <a href="#" class="route">
                            <h3><i class="material-icons">book</i>Browse (Coming Soon)</h3>
                            <p>See what videos are available on OpenBroadcast right now.</p>
                        </a>
                        <br>
                        <a href="#" class="route">
                            <h3><i class="material-icons">multiline_chart</i>Charts (Coming Soon)</h3>
                            <p>View the statistics of videos on OpenBroadcast.</p>
                        </a>
                    </div>
                    <div class="split">
                        <h2>Frequently Asked Questions</h2>
                        <div class="question">
                            <span class="question">
                                Q: What is OpenBroadcast?
                            </span>
                            <span class="answer">
                                OpenBroadcast is a video sharing platform delivered through Roku channels. It allows users to upload their own videos and watch videos uploaded by others.
                            </span>
                        </div>
                        <div class="question">
                            <span class="question">
                                Q: How does it work?
                            </span>
                            <span class="answer">
                                You can add the OpenBroadcast channel to your Roku device and view a feed of videos uploaded by other users. If you want to, you can also upload your own videos.
                            </span>
                        </div>
                        <div class="question">
                            <span class="question">
                                Q: What can I upload?
                            </span>
                            <span class="answer">
                                If you are allowed to share your content and it follows Roku's Terms of Service and abides by US laws & regulations, anything goes.
                            </span>
                        </div>
                        <div class="question">
                            <span class="question">
                                Q: Who runs OpenBroadcast?
                            </span>
                            <span class="answer">
                                OpenBroadcast is built and operated by one person (hi). As you can see, I am not a web developer.
                            </span>
                        </div>
                        <div class="question">
                            <span class="question">
                                Q: How can I report an issue?
                            </span>
                            <span class="answer">
                                You can find information about reporting issues 
                                <a href="/reports/">here <i class="material-icons">open_in_new</i></a>. 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        {% include 'footer.html' %}
        {% block footerContent %}
        {% endblock %}
      </footer>
</html>