<html>
    <head>
        <title>OpenBroadcast | Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/openbroadcast.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <nav>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </nav>
    <body onload="global_init()">
        <div class="centerBox">
            <div class="section">
                <div class="content">
                    <div class="split">
                        <h2>Common Destinations</h2>
                        <a href="/library" class="route">
                            <h3><i class="material-icons">video_library</i><span>Video Library</span></h3>
                            <p>View your uploaded videos and collections.</p>
                        </a>
                        <a href="/charts" class="route">
                            <h3><i class="material-icons">multiline_chart</i><span>Charts (Coming Soon)</span></h3>
                            <p>See how your content's performing.</p>
                        </a>
                        <a href="/account" class="route">
                            <h3><i class="material-icons">person</i><span>Account</span></h3>
                            <p>Account details &amp; billing information.</p>
                        </a>
                    </div>
                    <div class="split">
                        <h2>Easy Content Delivery</h2>
                        <p>
                            <b>Bring your content to the frontlines with none of the fuss and all of the quality.</b>
                            <br><br>OpenBroadcast delivers your video content with immediate availability, automatically building feeds compatible with every Internet TV platform, or you can use our API to build your own with direct-playback URLs. OpenBroadcast is built to scale your service for you, with no prior knowledge needed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        {% include 'footer.html' %}
        {% block footerContent %}
        {% endblock %}
      </footer>
</html>