footer {
    width: 100%;

    height: fit-content;
    padding-block: 1vh;

    background-color: var(--secondary-background);
    color: var(--secondary-text);
    font-family: var(--nav-font);
}
.footer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
}
.footer > p {
    text-align: center;
}
.footer > a {
    color: var(--secondary-text);
}