body {
  font-family: "Mallory Book", sans-serif;
  overflow-y: hidden; }

.centerBox {
  padding-inline: 5vw;
  height: 80vh;
  overflow-y: scroll; }
  .centerBox > .section {
    text-align: center;
    font-weight: lighter; }
    .centerBox > .section > .content {
      display: flex;
      flex-direction: row; }
      .centerBox > .section > .content > .split {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        text-align: center; }
        .centerBox > .section > .content > .split > .question {
          display: flex;
          flex-direction: column;
          width: 90%;
          align-items: center;
          margin-bottom: 1vh;
          color: white;
          background-color: #000215; }
          .centerBox > .section > .content > .split > .question > span.question {
            width: fit-content;
            font-size: larger;
            border-bottom: 1px solid white;
            background-color: #0871ff;
            margin-bottom: 1vh;
            padding-inline: 1vw;
            padding-block: 0.5vh;
            width: 100%;
            text-align: left; }
          .centerBox > .section > .content > .split > .question > span.answer {
            font-size: large;
            width: 100%;
            margin-bottom: 1vh;
            padding-inline: 1vw;
            padding-block: 0.5vh; }
            .centerBox > .section > .content > .split > .question > span.answer > a {
              color: #0871ff; }
              .centerBox > .section > .content > .split > .question > span.answer > a > i {
                font-size: medium; }
        .centerBox > .section > .content > .split > .route {
          border: 2px solid #0871ff;
          padding-inline: 1vw;
          padding-block: 1vh;
          transition: 0.2s ease-in-out all;
          text-decoration: none;
          color: black;
          width: 75%; }
          .centerBox > .section > .content > .split > .route > h3 {
            margin: 0;
            text-decoration: underline;
            color: #0871ff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none; }
            .centerBox > .section > .content > .split > .route > h3 > i {
              margin-inline-end: 0.2vw; }
        .centerBox > .section > .content > .split > .route:hover {
          transform: scale(1.04); }
