#alertBar {
  width: 100%;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0871ff;
  font-family: "Mallory Book", sans-serif;
  text-align: center;
  padding-block: 0.5vh;
  align-items: center;
  transition: 0.4s ease-in-out all; }
  #alertBar > span {
    margin-inline: 0.4vw; }

header.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 1rem;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  color: #3273eb;
  background-color: #000215;
  border-bottom: 1px solid rgba(37, 46, 63, 0.8); }
  header.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    align-self: center;
    margin-left: auto;
    margin-right: auto; }
    header.header .container > .header-brand {
      align-items: center;
      display: flex; }
      header.header .container > .header-brand > img {
        height: auto;
        width: 20vw; }
    header.header .container > .header-navigation {
      display: flex;
      margin-left: auto; }
      header.header .container > .header-navigation > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2vw;
        padding: 0;
        margin: 0;
        list-style-type: none; }
        header.header .container > .header-navigation > ul > li {
          font-size: 1.2vw; }
          header.header .container > .header-navigation > ul > li > a {
            border: 1px solid white;
            color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 100%;
            white-space: nowrap;
            text-decoration: none;
            opacity: 0.8;
            padding-inline: 0.6vw;
            padding-block: 0.4vh;
            font-family: "Fredoka", "Ubuntu", sans-serif;
            transition: all 0.1s ease; }
          header.header .container > .header-navigation > ul > li > a:hover {
            border: 1px solid #0871ff;
            color: #0871ff;
            opacity: 1; }
  header.header > .material-icons {
    font-size: 1.2vw !important; }

@media screen and (max-width: 768px) {
  header.header {
    flex-direction: column; }
  .container {
    flex-direction: column; }
    .container > .header-navigation {
      margin-left: 0 !important; } }

@media screen and (min-height: 100vw) {
  header.header {
    flex-direction: column; }
    header.header > .container {
      flex-direction: column; }
      header.header > .container > .header-brand {
        margin-bottom: 2vh; }
        header.header > .container > .header-brand > img {
          height: 5vh;
          width: auto; }
      header.header > .container > .header-navigation {
        margin-left: 0 !important; }
        header.header > .container > .header-navigation > ul {
          font-size: 1.8vh; }
    header.header > .material-icons {
      font-size: 1.8vh !important; } }
