@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

:root {
    --main-background: #cedeeb;
    --main-text: black;
    --secondary-background: #000215;
    --secondary-text: white;
    --accent-1: #0871ff;
    --nav-font: "Fredoka", "Ubuntu", sans-serif;
    --secondary-text-font: 'Righteous', sans-serif;

    --header-font: "Mallory Book", sans-serif;
}
body {
    background-color: var(--main-background);
    color: var(--main-text);

    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}
.markdown_Code {
    background-color: rgba(0, 0, 0, 0.25);

    padding-inline: 0.2vw;
    padding-block: 0.1vh;

    font-family: monospace;
    font-weight: bolder;

    font-size: inherit;
}
.markdown_Error {
    color: red;

    padding-inline: 0.2vw;
    padding-block: 0.1vh;

    font-family: monospace;
    font-weight: bolder;

    font-size: inherit;
}
.markdown_Success {
    color: green;

    padding-inline: 0.2vw;
    padding-block: 0.1vh;

    font-family: monospace;
    font-weight: bolder;

    font-size: inherit;
}