body {
  font-family: "Righteous", sans-serif;
  overflow-y: scroll; }

.PanelDisplayBox {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  background-color: #cedeeb;
  font-family: "Ubuntu", sans-serif; }
  .PanelDisplayBox .panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50%;
    padding-block: 5vh;
    margin-bottom: 5vh;
    position: relative;
    transition: 0.4s ease-out all; }
    .PanelDisplayBox .panel > .subtextContainer {
      width: 100%;
      align-self: center;
      display: flex;
      justify-content: space-evenly; }
      .PanelDisplayBox .panel > .subtextContainer > .subtext {
        color: #0871ff;
        text-align: right;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1vh; }
    .PanelDisplayBox .panel > .header {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-self: center;
      width: 50%;
      padding-inline: 1vw;
      padding-block: 1vh;
      margin-top: 0;
      border: 0.1vw solid #000215; }
      .PanelDisplayBox .panel > .header > h4 {
        font-size: 1vw;
        text-align: left;
        font-weight: lighter;
        margin-block: 0; }
      .PanelDisplayBox .panel > .header > h2 {
        font-size: 1.4vw;
        border-bottom: 0.1vw solid #000215; }
      .PanelDisplayBox .panel > .header > p {
        font-size: 1vw; }
      .PanelDisplayBox .panel > .header > button {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 100%;
        padding-block: 0.5vh;
        padding-inline: 1vw;
        font-size: larger;
        cursor: pointer;
        background-color: #0871ff;
        color: white; }
        .PanelDisplayBox .panel > .header > button > i {
          margin-left: auto;
          margin-right: 1px; }
      .PanelDisplayBox .panel > .header > a {
        margin-bottom: 1vh;
        color: #0871ff; }
      .PanelDisplayBox .panel > .header > div > ol > li {
        margin-bottom: 1vh; }
      .PanelDisplayBox .panel > .header > .subtext {
        margin-block: 0.2vh;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        .PanelDisplayBox .panel > .header > .subtext > span {
          margin-inline-start: 0.25vw; }
      .PanelDisplayBox .panel > .header > .inputRow {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
        padding-bottom: 1vh;
        border-bottom: 0.1vw solid #000215; }
        .PanelDisplayBox .panel > .header > .inputRow > label {
          display: flex;
          flex-direction: column;
          text-align: left;
          padding-bottom: 1vh;
          cursor: pointer; }
          .PanelDisplayBox .panel > .header > .inputRow > label > .subtext {
            text-indent: 2vw; }
          .PanelDisplayBox .panel > .header > .inputRow > label > span > .markdown_Error {
            margin-left: 1vw; }
          .PanelDisplayBox .panel > .header > .inputRow > label > span > .markdown_Success {
            margin-left: 1vw; }
        .PanelDisplayBox .panel > .header > .inputRow > input {
          padding-block: 0.4vh;
          font-size: 1vw; }
        .PanelDisplayBox .panel > .header > .inputRow > select {
          width: 25%;
          text-align: center;
          align-self: center;
          font-size: 1vw;
          cursor: pointer; }
        .PanelDisplayBox .panel > .header > .inputRow > span {
          margin-bottom: 1vh; }
  .PanelDisplayBox #dialog__Thumbnail .header > img {
    aspect-ratio: 4/3;
    height: 25vh;
    width: auto;
    margin: auto;
    margin-bottom: 1vh; }

.markdown_Code {
  background-color: rgba(0, 0, 0, 0.25);
  padding-inline: 0.2vw;
  padding-block: 0.1vh;
  font-family: monospace;
  font-weight: bolder;
  font-size: inherit; }

.markdown_Error {
  color: red;
  padding-inline: 0.2vw;
  padding-block: 0.1vh;
  font-family: monospace;
  font-weight: bolder;
  font-size: inherit; }

.markdown_Success {
  color: green;
  padding-inline: 0.2vw;
  padding-block: 0.1vh;
  font-family: monospace;
  font-weight: bolder;
  font-size: inherit; }
