<html>

<head>
    <title>Open Broadcast | Upload</title>
    <script src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/upload_new.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/openbroadcast.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/test-css-output/upload.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>
<nav>
    {% include 'navbar.html' %}
    {% block navbarContent %}
    {% endblock %}
</nav>

<body onload="init()">
    <div class="PanelDisplayBox">
        <!-- Container element for our different dialog panels. -->
         <div id="dialog__Upload" class="panel">
            <div class="header">
                <h4>Step 1.</h4>
                <h2>Upload a File</h2>
                <p>Welcome to OpenBroadcast! To start, choose a video to upload.</p>
                <a href="#" onclick="dialog__Upload_ViewRules(this)">View Rules</a>
                <div id="dialog__Upload_ViewRules" style="display: none;">
                    <ol>
                        <li>Content must follow Roku's rules & regulations</li>
                        <li>Content must follow US laws & regulations</li>
                        <li>Maximum 512MB File Size</li>
                        <li>Limit of 10 Uploads per day per user</li>
                    </ol>
                    <p>Thank you for reading the rules! 🙂</p>
                </div>
                <button id="dialog__Upload_SelectVideoFile" onclick="dialog__Upload_SelectVideoFile()"><span>Select File</span><i class="material-icons">upload_file</i></button>
                <button style="display: none;" id="dialog__Upload_Continue" onclick="dialog__Upload_Continue()"><span>Continue</span><i class="material-icons">arrow_forward</i></button>
                <span id="dialog__Upload_SelectedVideoSubtext" class="subtext"></span>
            </div>
            <a class="subtext" href="/report-a-problem">Report a Problem</a>
         </div>
         <div id="dialog__Metadata" class="panel">
            <div class="header">
                <h4>Step 2.</h4>
                <h2>Video Details</h2>
                <p>You've chosen a video, now lets get some details about your upload.</p>
                <div class="inputRow">
                    <label for="dialog__Metadata_Input_Title" id="titleLabel">
                        <span>Video Title</span>
                        <span class="subtext">Maximum length of 120 characters. Minimum length of 12 characters. <span class="markdown_Code">Required</span></span>
                    </label>
                    <input type="text" onchange="utility_VideoTitleInput__Event_OnChange()" id="dialog__Metadata_Input_Title" placeholder="Your video title">
                </div>
                <div class="inputRow">
                    <label for="dialog__Metadata_Input_Description" id="descLabel">
                        <span>Video Description</span>
                        <span class="subtext">Maximum length of 800 characters. <span class="markdown_Code">Optional</span></span>
                    </label>
                    <input type="text" onchange="utility_VideoDescriptionInput__Event_OnChange()" id="dialog__Metadata_Input_Description" placeholder="Your video description">
                </div>
                <div class="inputRow">
                    <span>Video Category</span>
                    <span class="subtext">This determines what part of the channel your video will be placed in.</span>
                    <select>
                        <option value="misc">Miscellaneous</option>
                        <option value="funny">Funny</option>
                        <option value="informative">Informative</option>
                    </select>
                </div>
                <button id="dialog__Metadata_Continue" onclick="dialog__Metadata_Continue()"><span>Continue</span><i class="material-icons">arrow_forward</i></button>
            </div>
            <a class="subtext" href="/report-a-problem">Report a Problem</a>
         </div>
    </div>
</body>
<elementStore style="display: none;">
    <input type="file" id="utility_VideoFileInput" accept=".mp4" onchange="utility_VideoFileInput__Event_OnChange()">
</elementStore>

</html>