<html>

<head>
    <title>Open Broadcast | Upload</title>
    <script src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/upload_new.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/openbroadcast.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/upload.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>
<nav>
    {% include 'navbar.html' %}
    {% block navbarContent %}
    {% endblock %}
</nav>

<body onload="init()">
    <div class="PanelDisplayBox">
        <!-- Container element for our different dialog panels. -->
         <div id="dialog__Upload" class="panel" style="opacity:1;">
            <div class="header">
                <h4>Step 1.</h4>
                <h2>Upload a File</h2>
                <p>Welcome to OpenBroadcast! To start, choose a video to upload.</p>
                <a class="subtext" href="#" onclick="dialog__Upload_SelectVideoFile()">Choose a Video File</a>
                <span id="dialog__Upload_SelectedVideoSubtext" class="subtext"></span><br>
                <button style="display: none;" id="dialog__Upload_Continue" class="subtext" href="#" onclick="dialog__Upload_Continue()">Next Step</button>
            </div>
            <div class="subtextContainer">
                <a class="subtext" href="/">Restart</a>
                <a class="subtext" href="/report-a-problem">Report a Problem</a>
            </div>
         </div>
         <div id="dialog__Thumbnail" class="panel" style="opacity:0;">
            <div class="header">
                <h4>Step 2.</h4>
                <h2>Set a Thumbnail</h2>
                <p>Almost there! Now, lets set a thumbnail for your video.</p>
                <img id="thumbnailDisplay" src="{{ url_for('static', filename='/images/example_thumbnail.jpg') }}">
                You can use this default option<br>
                or... <a class="subtext" href="#" onclick="dialog__Thumbnail_SelectThumbnailFile()">Upload your own thumbnail<span class='markdown_Code'>.PNG</span></a>
                <br>
                <button id="dialog__Thumbnail_Continue" onclick="dialog__Thumbnail_Continue()">
                    <span>Continue</span><i class="material-icons">arrow_forward</i>
                </button>
            </div>
            <div class="subtextContainer">
                <a class="subtext" href="/">Restart</a>
                <a class="subtext" href="/report-a-problem">Report a Problem</a>
            </div>
         </div>
         <div id="dialog__Metadata" class="panel" style="opacity:0;">
            <div class="header">
                <h4>Step 3.</h4>
                <h2>Set Video Details</h2>
                <p>You've chosen a video, now lets get some details about your upload.</p>
                <div class="inputRow">
                    <label for="dialog__Metadata_Input_Title" id="titleLabel">
                        <span>Video Title</span>
                        <span class="subtext">Maximum length of 120 characters. Minimum length of 12 characters. <span class="markdown_Code">Required</span></span>
                    </label>
                    <input type="text" onchange="dialog__Metadata_CheckMetadataValidity()" id="dialog__Metadata_Input_Title" placeholder="Your video title">
                </div>
                <div class="inputRow">
                    <label for="dialog__Metadata_Input_Description" id="descLabel">
                        <span>Video Description</span>
                        <span class="subtext">Maximum length of 800 characters. <span class="markdown_Code">Optional</span></span>
                    </label>
                    <input type="text" onchange="dialog__Metadata_CheckMetadataValidity()" id="dialog__Metadata_Input_Description" placeholder="Your video description">
                </div>
                <div class="inputRow">
                    <span>Video Category</span>
                    <span class="subtext">This determines what part of the channel your video will be placed in.</span>
                    <select id="dialog__Metadata_Input_Category" onchange="dialog__Metadata_CheckMetadataValidity()">
                        <option value="misc">Miscellaneous</option>
                        <option value="funny">Funny</option>
                        <option value="informative">Informative</option>
                    </select>
                </div>
                <button id="dialog__Metadata_Continue" class="subtext" href="#" onclick="dialog__Metadata_Continue()">Next Step</button>
            </div>
            <div class="subtextContainer">
                <a class="subtext" href="/">Restart</a>
                <a class="subtext" href="/report-a-problem">Report a Problem</a>
            </div>
         </div>
         <div id="dialog__Details" class="panel" style="opacity:0;">
            <div class="header">
                <h4>Step 4.</h4>
                <h2>Confirm your Upload</h2>
                <p>We're all set here! Make sure your video details are correct and send the upload when ready.</p>
                
                <div class="dialog__Details_VideoDetails">
                    <div class="details_Image">
                        <img id="dialog__Details_VideoThumbnail" src="{{ url_for('static', filename='/images/example_thumbnail.jpg') }}">
                    </div>
                    <div class="details">
                        <div class="dataRow">
                            <span class="tagName">Title</span>
                            <span class="tagData" id="dialog__Details_Title"></span>
                        </div>
                        <div class="dataRow">
                            <span class="tagName">Description</span>
                            <span class="tagData description" id="dialog__Details_Description"></span>
                        </div>
                        <div class="dataRow">
                            <span class="tagName">Category</span>
                            <span class="tagData" id="dialog__Details_Category"></span>
                        </div>
                        <div class="dataRow">
                            <table id="videoDetailsTable">
                                <tr>
                                  <th>Length</th>
                                  <th>Resolution</th>
                                  <th>File Size</th>
                                </tr>
                                <tr>
                                  <td id="dialog__Details_VideoLength"></td>
                                  <td id="dialog__Details_VideoResolution"></td>
                                  <td id="dialog__Details_VideoFileSize"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="terms">
                    <label for="termsCheckbox">I have read and agree to the OpenBroadcast <a href="#">Terms of Service</a></label>
                    <input id="termsCheckbox" type="checkbox">
                </div>
                
                <button id="dialog__Details_Continue" class="subtext" href="#" onclick="dialog__Details_Continue()">Upload Video</button>
            </div>
            <div class="subtextContainer">
                <a class="subtext" href="/">Restart</a>
                <a class="subtext" href="/report-a-problem">Report a Problem</a>
            </div>
         </div>
         <div id="dialog__UploadStatus" class="panel" style="opacity:0;">
            <div class="header">
                <h4>Step 5.</h4>
                <h2>Upload in Progress</h2>
                <p>Your video is being sent to OpenBroadcast. Don't close this browser tab!</p>
                
                <br>
                <span class="text">Uploading - 100%</span>
                <div class="progress">
                    <div id="progressBar"></div>
                </div>
            </div>
            <div class="subtextContainer">
                <a class="subtext" href="/">Restart</a>
                <a class="subtext" href="/report-a-problem">Report a Problem</a>
            </div>
         </div>
    </div>
</body>

<elementStore style="display: none;">
    <input type="file" id="utility_VideoFileInput" accept=".mp4" onchange="dialog__Upload_VideoFileInput__Event_OnChange()">
    <input type="file" id="utility_ThumbnailFileInput" accept=".png" onchange="dialog__Thumbnail_ThumbnailFileInput_Event_OnChange()">
</elementStore>
<footer>
    {% include 'footer.html' %}
    {% block footerContent %}
    {% endblock %}
</footer>
</html>