$main-background: #cedeeb;
$main-text: black;
$secondary-background: #000215;
$secondary-text: white;
$accent-1: #0871ff;
$nav-font: "Fredoka", "Ubuntu", sans-serif;
$primary-text-font: "Ubuntu", sans-serif;
$secondary-text-font: 'Righteous', sans-serif;
$header-font: "Mallory Book", sans-serif;

body {
    font-family: $header-font;
    overflow-y: hidden;
}
.centerBox {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    > h3 {
        text-align: center;
    }

    > .aboutContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: space-evenly;

        width: 100%;

        > .card {
            display: flex;
            flex-direction: column;

            background-color: $secondary-background;
            width: 20%;

            color: $secondary-text;
            text-align: center;

            padding-inline: 1vw;
            line-height: 1.75;

            margin-bottom: 2vh;

            > h3 {
                border-bottom: 2px solid $accent-1;
            }
            > p {
                justify-content: center;
                align-items: center;
                > a {
                    color: $accent-1;
                    text-decoration: none;
                    > i {
                        font-size: medium;
                        display: inline;
                        padding-inline-start: 0.2vw;
                    }
                }
            }
        }
    }
}