$main-background: #C8D3D5;
$main-text: black;
$secondary-background: #000215;
$secondary-text: white;
$accent-1: #0871ff;
$nav-font: "Fredoka", "Ubuntu", sans-serif;
$primary-text-font: "Ubuntu", sans-serif;
$secondary-text-font: 'Righteous', sans-serif;
$header-font: "Mallory Book", sans-serif;

body {
    font-family: $header-font;
    overflow-y: hidden;
}

.centerBox {
    width: 100%;

    display: flex;
    flex-direction: column;

    text-align: center;

    > .settings {
        width: fit-content;
        border: 1px solid var(--main-text);

        text-align: center;
        align-self: center;

        padding-inline: 10vw;
        padding-block: 1lh;

        > h3 {
            margin-block: 0;
        }
        > h5 {
            margin-top: 0.25lh;
        }

        > .anchors {
            display: flex;
            flex-direction: row;
    
            justify-content: space-between;
            width: 100%;
    
            align-self: center;
    
            > a {
                color: $accent-1;
            }
        }
    }
}