footer {
    width: 100%;

    height: fit-content;
    padding-block: 1vh;

    background-color: var(--secondary-background);
    color: var(--secondary-text);
    font-family: var(--nav-font);

    position:fixed;
    bottom:0;

    > .footer {
        display: flex;
        flex-direction: row;
    
        align-items: center;
        justify-content: space-evenly;

        height: 5vh;

        > a > img {
            width: 15vw;
            height: auto;
        }
        > p {
            text-align: center;
        }
        > a {
            color: var(--secondary-text);
        }
    }
}