$main-background: #cedeeb;
$main-text: black;
$secondary-background: #000215;
$secondary-text: white;
$accent-1: #0871ff;
$nav-font: "Fredoka", "Ubuntu", sans-serif;
$primary-text-font: "Ubuntu", sans-serif;
$secondary-text-font: 'Righteous', sans-serif;
$header-font: "Mallory Book", sans-serif;

body {
    font-family: $secondary-text-font;
    overflow-y: scroll;
}
// rewrtiting upload page. forgot  about that 

.PanelDisplayBox {
    height: 100vh;
    width: 100%;

    overflow-y: hidden;

    padding-bottom: 10vh;

    display: flex;
    flex-direction: column;

    background-color: $main-background;
    
    font-family: $primary-text-font;

    .panel {
        display: flex;
        flex-direction: column;

        text-align: center;
        height: 50%;

        padding-block: 5vh;
        margin-bottom: 5vh;
        
        position: relative;

        transition: 0.4s ease-out all;

        > .subtextContainer {
            width: 100%;
            align-self: center;
            display: flex;
            justify-content: space-evenly;
            > .subtext {
                color: $accent-1;
    
                text-align: right;
                align-self: center;
    
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
    
                margin-top: 1vh;
            }
        }

        > .header {
            display: flex;
            flex-direction: column;

            text-align: center;
            align-self: center;

            width: 50%;

            padding-inline: 1vw;
            padding-block: 1vh;

            margin-top: 0;

            border: 0.1vw solid $secondary-background;

            > h4 {
                font-size: 1vw;
                text-align: left;
                font-weight: lighter;
                margin-block: 0;
            }
            > h2 {
                font-size: 1.4vw;
                border-bottom: 0.1vw solid $secondary-background;
            }
            > p {
                font-size: 1vw;
            }
            > button {
                display: flex;
                flex-direction: row;

                align-items: center;
                text-align: center;

                width: 100%;
                
                padding-block: 0.5vh;
                padding-inline: 1vw;

                font-size: larger;
                cursor: pointer;
                
                background-color: $accent-1;
                color: $secondary-text;

                > i {
                    margin-left: auto;
                    margin-right: 1px;
                }
            }
            > a {
                margin-bottom: 1vh;
                color: $accent-1;
            }
            > div > ol > li {
                margin-bottom: 1vh;
            }
            > .subtext {
                margin-block: 0.2vh;
                text-align: center;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                > span {
                    margin-inline-start: 0.25vw;
                }
            }
            > .inputRow {
                display: flex;
                flex-direction: column;

                margin-bottom: 2vh;
                padding-bottom: 1vh;
                border-bottom: 0.1vw solid $secondary-background;

                > label {
                    display: flex;
                    flex-direction: column;

                    text-align: left;

                    padding-bottom: 1vh;
                    cursor: pointer;

                    > .subtext {
                        text-indent: 2vw;
                    }
                    > span > .markdown_Error {
                        margin-left: 1vw;
                    }
                    > span > .markdown_Success {
                        margin-left: 1vw;
                    }
                }
                > input {
                    padding-block: 0.4vh;
                    font-size: 1vw;
                }
                > select {
                    width: 25%;
                    
                    text-align: center;
                    align-self: center;
                    font-size: 1vw;

                    cursor: pointer;
                }
                > span {
                    margin-bottom: 1vh;
                }
            }
        }
    }

    #dialog__Thumbnail {
        .header {
            > img {
                aspect-ratio: 4/3;

                height: 25vh;
                width: auto;

                margin: auto;
                margin-bottom: 1vh;
            }
        }
    }
}
.markdown_Code {
    background-color: rgba(0, 0, 0, 0.25);

    padding-inline: 0.2vw;
    padding-block: 0.1vh;

    font-family: monospace;
    font-weight: bolder;

    font-size: inherit;
}
.markdown_Error {
    color: red;

    padding-inline: 0.2vw;
    padding-block: 0.1vh;

    font-family: monospace;
    font-weight: bolder;

    font-size: inherit;
}
.markdown_Success {
    color: green;

    padding-inline: 0.2vw;
    padding-block: 0.1vh;

    font-family: monospace;
    font-weight: bolder;

    font-size: inherit;
}